<mat-toolbar class="title">
  <img height="20" src="https://static.wixstatic.com/media/54d165_d986d9ffd9c240d48be86b3c6143604b~mv2_d_5468_1474_s_2.png/v1/fill/w_148,h_40,al_c,q_95,enc_auto/Logo_Horizontal_Colorida.png">
  <span class="title-header">{{title}}</span>
  <div class="system-actions">
    <mat-icon class="icons" (click)="showMessage('FAQ aberto com sucesso!')">menu_book</mat-icon>
    <mat-icon class="icons" (click)="showMessage('Configuração aberta com sucesso!')">settings</mat-icon>
    <mat-icon class="icons" (click)="showMessage('Notificação aberta com sucesso!')">notifications_none</mat-icon>
    <button mat-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <div class="personal-menu">
        <img height="25" class="personal-menu-badge" src="https://media.licdn.com/dms/image/D4D35AQG8tUNBPyEqNw/profile-framedphoto-shrink_200_200/0/1710165539002?e=1712754000&v=beta&t=4GGp0FXrA9whL6-3eSjzZCVunyqiMLXXqvoAhXAeu-Q">
        <span class="personal-menu-name">Gustavo</span>
        <mat-icon class="icons">keyboard_arrow_down</mat-icon>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <div class="personal-info">
        <span>Gustavo Maciel Real de Lima</span>
        <span class="secundary-info">Engenheiro de Software</span>
        <span class="secundary-info">{{'gustavomacielreallima@gmail.com'}}</span>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="content" role="main">

  <div class="sidenav">
    <mat-icon class="icons" (click)="goToRoute('/')">home</mat-icon>
    <mat-icon class="icons" (click)="goToRoute(null)">chat</mat-icon>
    <mat-icon class="icons" (click)="goToRoute('/user')">person</mat-icon>
    <mat-icon class="icons" (click)="goToRoute(null)">compare_arrows</mat-icon>
    <mat-icon class="icons" (click)="goToRoute(null)">smart_toy</mat-icon>
    <mat-icon class="icons" (click)="goToRoute(null)">insert_chart_outlined</mat-icon>
  </div>

  <router-outlet class="content-outlet"></router-outlet>
  
</div>
